*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle{
    position: relative;
    max-width: 1800px;
    max-height: 650px;
    width: 100%;
    height: 100%;

    background-size: 300% 300%;
    animation: color 6s ease-in-out infinite;
    border-radius: 30px;
    overflow: hidden;
}
.middle .forms{
    display: flex;
    align-items: center;
    width: 200%;
    height: 425px;
    transition: height 0.2s ease;
}
.middle .form{
    width: 50%;
    padding: 30px;
    background: linear-gradient(135deg,red,black,white);
    background-size: 200% 100%;
    animation: color 6s ease-in-out infinite;
    transition: margin-left 0.18s ease;
    border-radius: 30px;
}
@keyframes color
{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}

.middle.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.middle .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}

.middle.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.middle.active .forms{
    height: 508px;
}
.middle .form .title{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
.form .title::before{
    content: '';
    background-color: black;
    border-radius: 25px;
}
.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    border-radius: 30px;
}
.input-field input{
    position: absolute;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 10px solid orangered;
    border-top: 10px solid orangered;
    transition: all 0.2s ease;
}
.input-field input:is(:focus,){
    border-bottom-color: green;
    border-top-color: green;
}
.input-field i{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   color :#99F;
   font-size: 23px;
   transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ i{
    color: #747c75;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding:  10px;
}
.form .text{
    color: #333;
    font-size: 14px;
}
.form a.text{
    color:#747c75 ;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    background-color: #747c75;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: lightcyan;
}
